
.game-page {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .games-section {
    width: 100%;
  }
  
  .games-section h2 {
    text-align: center;
  }
  
  .games-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 50px;
  }
  
  .game-card {
    text-align: center;
  }
  
  .game-card img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
  }
  
  .right-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .metric {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .metric h4 {
    margin: 0;
  }
 
  
  .device-status {
    margin-top: 20px;
    text-align: center;
  }