/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Menu Bar */
  .menu-bar {
    display: flex;
    justify-content: space-evenly;
    background-color: #7bd8b0;
    width: 100%;
    padding: 10px;
    
  }
  
  .menu-bar button {
    flex: 1;
    background-color: #d1ebc97e;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 3s ease, font-size 3s ease, font-weight 3s ease;
  }
  
  .menu-bar button:hover {
    background-color: #9fd9e7;
    color: #0a0a0a;
    font-size: 20px;
    font-weight: 700;
  } 
  
  /* Content Container */
  .content-container {
    padding: 20px;
    text-align: center;
  }