.collapse-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
  }


.media-player {
    box-shadow: 0px 4px 8px rgba(86, 85, 85, 0.1);
    padding: 8px;
    margin: 8px;
    border-radius: 10px;
    position: relative;
    transition: opacity 0.3s ease-in-out;
    background-color: #abbbbf;
  }
  

  .collapse-btn:hover {
    background-color: #0056b3;
  }
  
  /* Content Collapse Effect */
  .content {
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-height: 500px;
    opacity: 1;
    overflow: hidden;
  }
  
  /* Collapsed State */
  .media-player.collapsed {
    height: auto;
    min-height: 45px;
    transition: all 0.3s ease-in-out;
  }
  
  .media-player.collapsed .content {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.3s ease-out, opacity 0.2s ease-in-out;
  }
  
  .volume-control {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .volume-control input[type='range'] {
    width: 60%;
    margin-left: 10px;
  }
  